*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --wall-color: grey;
  --room-color: darkblue;
  --room-border-color: slategrey;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
}

.top-wrapper {
  display: flex;
  height: 100%;
  transition: all ease 500ms;
}

.bottom-wrapper {
  display: flex;
  flex-direction: column;
  height: 0%;
  transition: all ease 500ms;
}

#left-parent-container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: beige; */
  /* padding: 5px; */
  margin: 5px;
  width: 20%;
  height: 100%;
}

#map-container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 20fr 1fr 20fr 1fr 20fr 1fr;
  background-color: aqua;
  background-image: none;
  padding: 5px;
  width: 80%;
  height: 100%;
  margin: 5px;
}

#typing-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: left 300ms ease-out, top 300ms ease-out, transform 300ms ease;
}

#prompt-container-map {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  background-color: pink;
}

#input-container-map {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  background-color: yellow;
  color: grey;
}

.prompt-letter-box {
  display: block;
  font-size: 30px;
}

.input-letter-box {
  display: block;
  font-size: 30px;
  background-color: brown;
}

#prompt-container-chat {
  display: flex;
  height: 50%;
}

#input-container-chat {
  display: flex;
  height: 50%;
}

.roomrow {
  display: grid;
  grid-template-columns: 1fr 20fr 1fr 20fr 1fr 20fr 1fr;
}

.room {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--room-color);
  /* border: solid black 1px; */
  font-size: 50px;
}

.room-portrait {
  position: absolute;
  width: 100px;
  height: 100px;
  /* background-color: white; */
  transform: translate(-50%, -50%);
  transition: left 300ms ease-out, top 300ms ease-out, transform 300ms ease;
}

#detective {
  background-image: url('detective-portrait.png');
  left: 0;
  top: 0;
}

#fugitive {
  background-image: url('fugitive-portrait.png');
  left: 0;
  top: 0;
}

.wallrow {
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr 20fr 1fr 20fr 1fr 20fr 1fr;
}

.wall {
  position: relative;
  display: block;
  background-color: var(--wall-color);
}

.open {
  background-color: var(--room-color);
}

.roomrow > .open:not(.entrance):not(.exit)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  left: 50%;
  background-color: var(--room-border-color);
}

.wallrow > .open:not(.entrance):not(.exit)::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  top: 50%;
  background-color: var(--room-border-color);
}

.contains-detective {
  background-image: url(detective-portrait.png);
}

.contains-fugitive {
  background-image: url(fugitive-portrait.png);
}

#timer-container {
  background-color: blue;
  padding: 5px;
  width: auto;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#timer-text {
  display: flex;
  background-color: yellow;
  width: 80%;
  height: 30%;
  justify-content: center;
  align-items: center;
}

#timer-digits-container {
  background-color: pink;
  display: flex;
  width: auto;
  height: 30%;
  justify-content: space-between;
}

.timer-digits {
  background-color: orange;
  font-size: 48px;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

#message-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  background-color: red;
  padding: 5px;
  width: auto;
  height: 80%;
}

.message {
  display: flex;
  position: relative;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 90%;
  margin: 20px;
  padding: 5px;
  background-color: beige;
}

.message-heading-wrapper {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 5px;
  background-color: orange;
}

.message-portrait-container {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  background-size: contain;
}

.message-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: magenta;
}

.message-text-container {
  display: block;
  background-color: lime;
}

.hidden {
  display: none;
}
